alias lp="open /Applications/LightPaper.app"

# re-build
reb() {
	make wipe;
	make clean;
	make;
	terminal-notifier -message "reb done";
}

# re-topo12
ret() {
	make wipe;
	make;
	make topo12;
	terminal-notifier -message "ret done";
}

alias lgs="$HOME/lgs.zsh"
alias plgs="$HOME/plgs.zsh"
