[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[user]
	name = Mark Ellis
	email = markellis@igneoussystems.com
[alias]
    updatefork = !git checkout master && git pull upstream master && git push origin master
    fixup = !git commit -a --fixup HEAD && GIT_EDITOR=: git rebase -i --autosquash HEAD~2
    st = status --short --branch
    b = branch
    co = checkout
    cob = checkout -b 
    replay = !git rebase master $1 && git checkout master
    ci = commit
    cia = commit -a
    lg = log --graph --pretty=tformat:'%Creset%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[core]
	excludesfile = /Users/pyrome/.gitignore_global
	editor = vim
    preloadindex = true
[merge]
    tool = extMerge
    conflictstyle = diff3
[mergetool "extMerge"]
    cmd = extMerge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
    trustExitCode = false
[diff]
    external = extDiff
[push]
    default = current
[rerere]
        enabled = true
